@layer utilities {
  .align-left { text-align: start; }
  .align-center { text-align: center; }
  .align-right { text-align: end; }
  .text-light { color: var(--muted-foreground); }
  .text-lighter { color: var(--faint-foreground); }

  .flex { display: flex; }
  .flex-col { flex-direction: column; }
  .items-center { align-items: center; }
  .justify-center { justify-content: center; }
  .justify-between { justify-content: space-between; }
  .justify-end { justify-content: flex-end; }

  /* Bootstrap inspired. */
  .hstack {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;

    * {
      margin: 0;
    }
  }
  .vstack {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
  }

  .gap-1 { gap: var(--space-1); }
  .gap-2 { gap: var(--space-2); }
  .gap-4 { gap: var(--space-4); }

  .mt-2 { margin-block-start: var(--space-2); }
  .mt-4 { margin-block-start: var(--space-4); }
  .mt-6 { margin-block-start: var(--space-6); }

  .mb-2 { margin-block-end: var(--space-2); }
  .mb-4 { margin-block-end: var(--space-4); }
  .mb-6 { margin-block-end: var(--space-6); }
  .p-4 { padding: var(--space-4); }

  .w-100 { width: 100%; }

  :is(ul, ol, a).unstyled {
    list-style: none;
    text-decoration: none;
    padding: 0;
  }
}
